#gameFrame {

	background-color: rgb(0, 0, 0);
	height: 400px;
	width: 800px;
	margin: auto;;
	position: fixed;
	overflow: hidden;
}

#healthBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	background-color: rgb(20, 228, 16);
	transition: width .5s;
}

.enemy {
	width: 80px;
	height: 160px;
	position: absolute;
	bottom: -400px;
	transition: all .5s;
}

.enemy.showing {
	bottom: 0;
}

.enemy.shooting {
	/*Explsion -> background-image: url("images/Pixel_Explosion Medium.png");*/
	background-color: red;
}


#enemy1 { left: 5px; }
#enemy2 { left: 165px; }
#enemy3 { left: 325px; }
#enemy4 { left: 485px; }
#enemy5 { left: 645px; }


.enemy.dead {
	/*Death Animation*/
	height: 0px;
}